body {
  background-color: #002FA7;
}

.ui.card {
  width: 40em;
  margin-top: 10em;
}

.flex-box {
  display: flex
}

.flex-box.seperate {
  justify-content: space-between;
}

#account-info {
  padding-left: 1em;
}

#blockies-identicon {
  border-radius: 5%;
  height: 128px;
  width: 128px;
  background-color: #739AFF;
}

#transfer-button {
  float: right;
  min-width: 6.75em;
}

#burn-panel {
  z-index: 1;
}